data
models/simplified/simplified.dat
models/simplified/simplified.cpp
*.dll
*.o
init.pin
*.bar
*.cor
*.eva
*.exe
*.htp
*.log
*.obj
*.rep
*.std
admodel.cov
admodel.dep
admodel.hes
VAST_output_*/*.png
VAST_output_*/*.txt
VAST_output_*/*.cpp
VAST_output_*/*.csv
VAST_output_*/*Record.RData
VAST_output_*/parameter_estimates.RData
QQ_Fn
simulation_progress.txt

