data/*.csv
models/simplified/simplified.dat
models/simplified/simplified.cpp
*.dll
*.o
init.pin
*.bar
*.cor
*.eva
*.exe
*.htp
*.log
*.obj
*.rep
*.std
admodel.cov
admodel.dep
admodel.hes
fit_*/*.png
fit_*/*.txt
fit_*/*.cpp
fit_*/*.csv
fit_*/*Record.RData
fit_*/parameter_estimates.RData
QQ_Fn
simulation_progress.txt
convergence_progress.txt
testing
.Rproj.user
mcmcfit_*
fit_*
resolution_tests
simulations
sensitivities/inflated0
breakpoint_tests/breakpoints*
sensitivities/fit_*
sensitivities/anisofits
sensitivities/kappascale
sensitivities/spatialconfig
sensitivities/temporal
sensitivities/catchability*
sensitivities/resolution